/*------- page hero -------*/
.pjHero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0vw;
    width: 200vh;
    align-items: center;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center top;
}

@media (max-width: 800px) {
    .pjHero {
        gap: 10vw;
        background-position: center 15%;
        background-size: 80%;
    }
}

.pjTitle {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 50vw;
    gap: 6vw;
}

@media (max-width: 800px) {
    .pjTitle {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding-left: 6vw;
        padding-right: 6vw;
    }
}

.topLabel {
    background-image: url('../img/sketches/pjLabel.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 1vw;

}

@media (max-width: 800px) {
    .topLabel {
        padding-top: 4vw;
    }
} 

    /*------- page content -------*/

    .pjScroll {
        display: flex;
        flex-direction: column;
        margin-top: 8vw;
        margin-bottom: 8vw;
    }

    .pjContent {
        display: flex;
        flex-direction: column;
        gap: 10vw;
    }

    .contentTop {
        display: flex;
        flex-direction: column;
        gap: 4vw;
        padding: 0 18vw 0 18vw;
    }

    @media (max-width: 800px) {
        .contentTop {
            padding: 8vw 6vw 8vw 6vw;

        }
    }

    .textLeft {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 18vw 0 18vw;
        gap: 4vw;
    }

    @media (max-width: 800px) {
        .textLeft {
            flex-direction: column;
            padding: 8vw 6vw 8vw 6vw;

        }
    }

    .textLeft img {
        width: 50%;
        height: 100%;
    }

    @media (max-width: 800px) {
        .textLeft img {
            width: 100%;
        }
    }

    .textRight {
        background-color: #EDF1F5;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4vw 18vw 4vw 18vw;
        gap: 4vw;
    }

    @media (max-width: 800px) {
        .textRight {
            flex-direction: column;
            padding: 8vw 6vw 8vw 6vw;

        }
    }

    .textRight img {
        width: 50%;
        height: 100%;
    }

    @media (max-width: 800px) {
        .textRight img {
            width: 100%;
        }
    }

    .vidPlayer {
        display: flex;
        align-items: center;
height: 100%;
    }